# BT626
Objects/
Listings/
App.bin/
JLinkLog.txt




# Keil
OBJ/
LST/

# IAR
Exe/
List/
Obj/

*.o
*.bpi
*.cout
*.pbd
*.browse
*.d
*.crf
*.map
*.lst
*.axf
*.htm
*.apk

*.TMP

# SourceInsight
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.SearchResults
*.WK3


*.iml
.gradle
/local.properties


/captures
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

